@import "sass/coeur.scss";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;
$border-color: rgb(245, 244, 244);
/* loader spinner */
.loader-spinner {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #f5f4f4;
    z-index: 99;
    position: fixed;
  }
  
  .loader-spinner span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 50vh auto;
    background: #99E2D0;
    border-radius: 49px;
    z-index: 100;
    animation: loader-spinner 1s 5 both alternate;
  }
  
  #loader-spinner1 {
    animation-delay: 0s;
  }
  
  #loader-spinner2 {
    animation-delay: 0.45s;
  }
  
  #loader-spinner3 {
    animation-delay: 0.9s;
  }
  
  .loader-spinner {
    opacity: 1;
    display: block;
    animation: loader-end 2s 2s both;
  }



/*     ------------------------Keyframes loader spinner--------------------- */
@keyframes loader-spinner {
	0% {
		width: 10px;
		height: 10px;
		background-color: $color-primaire;
		transform: translateY(0);
    }
	100% {
        width: 23px;
		height: 23px;
		background-color: $color-secondaire;
        transform: translateY(-20px);
        display: none;
        z-index: -100;

	}
}


@keyframes loader-end {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        display: none;
        z-index: -100;
    }
}
/* ============== */

html{
    font-size: 3vw;
}

$wbg:#ffffff;

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1, h2, h3{
    font-family: "Shrikhand", serif;
    text-decoration: none;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    background: $wbg;
    box-shadow: 0 0 0.25rem 0.125rem #777;
    margin: 0;
    z-index: 1;
    text-align: center;
    
    #logoheader{
     font-size: 500;
     
     margin: auto;
}
}

#reservez{
    margin-top: 0;
    padding-top: 15px;
}

main{
   h3,  p {
       color: black;
     font-family: "Roboto", serif;
   
    }
}


    


#fonctionement_1{
    margin: 0 1rem 0 1rem ;
}

.conteneur_fonctionement{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .fonctionement{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    box-shadow: 0.1rem 0.1rem 0.5rem 0 #aaa;
    position: relative;
    margin-bottom: 1.625rem;
    margin-left: 0.5rem;
    border-radius: 1rem;
    padding: 1rem 0;
    width: 50%;

    &:hover{
        background-color: #e4d5f6;
    }
    }

}

.fonctionement:hover .fonctionementIcone{
    color: #9356dc;
}




.fonctionement__texte{
    font-size: 4vw;
    padding-right: 1rem;
    font-weight: bold;
}



.localisation{
    background-color:#dad9d9;
    padding: 1rem;
}

.reserve_menu{
    background-color: #f1eeee;
}
.reserve_menu, #logoheader, .localisation{
    text-align: center;
}

button{
    background: linear-gradient(360deg, #9356dc,  #ff79da);
    color: $wbg;
    border-radius: 30px;
    border: none;
    padding: 1rem;
    font-size: inherit;
    transform: scale(1);
    transition: transform 400ms;
    margin-top: 3%;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 1px 1px #937e7e;
    
    &:hover{
        transform: scale(1.15);
        opacity: 0.50;
        box-shadow: 0px 0px 1px 2px #2e2929;
     }
}

ul{
    list-style: none;
}

.fonctionementIcone{
    color: #4441419d;   
    font-size: 125%;
    text-align: center;
    padding: 0 2rem;
    width: 1.25rem;
}

    .fonctionement__carte_numero{
    background-color: #9356dc;
    border-radius: 50%;
    color: #fff;
    font-size: 85%;
    padding: 0.375rem 0.625rem;
    position: absolute;
    left: -1rem;
}

    .fawesomeFooter{
    padding-right: rem;
}

    img{
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
  }

  .contenue_image{
      display: flex;
      justify-content: space-between;
      padding-right: 10px;
      padding-left: 10px;
  }




ol{
    text-align: center;
}
main{
    width: auto;
}
.bloc_restaurants{
    background-color: #f6f6f6;

    #titreRestau{
        padding-left: 1rem;
    }
}
/* ==================================étiquette========================== */
.nouveau{
    position: absolute;
    padding: 10px 26px;
    background-color: #99e2d0;
    top: 12px;
    right: 12px;
    border-radius: 5px;
}
/* =================================== */
#titreRestau{
    padding-top: 2rem;
}
.restau{
    background-size: cover;
    background-position: center;
    min-height: 130px;

}

h3{
    margin-top: 2px;
    margin-bottom: 0;
}

p{
    margin: 0;
}

a{
    border-radius: 1rem;
    margin-bottom: 20px;
    text-decoration: none;
}

.carte_menu{
    padding: 2rem;
}

.carte_menu__{
    position: relative;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    
}

footer{
    background-color: #353535;
    color: $wbg;
    
    #contenue_footer{
        padding-left: 2rem;
    }

    .fawesomeFooter{
        padding-right: 1rem;
    }
    
    a{
        color: $wbg;
        text-decoration: none;
    }

    ul{
        padding-left: 0;
    }

    li{
        padding-bottom: 1rem;
    }
}

/* Responsive design */

@media screen and (min-width:600px){
    html{
        font-size: 2vw;
    }

    img{
        height: 25vw;
    }
    
    .conteneur_fonctionement{
        flex-direction: initial;
        justify-content: space-between;

        .fonctionement{
            width: 30%;
        }
    }
    .fonctionement__texte{
        font-size: 2vw;
    }

    .carte_menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .carte_menu__{
            width: 49%;
        }
    }

    footer{
        ul{
            display: flex;
            justify-content: space-around;
        }
    }
}

@media screen and (min-width: 1000px){
    
    .carte_menu{
    .carte_menu__{
        width: 30%;
    }
}
}